@import "./style/dashboard.css";
@import "./style/navbar.css";
@import "./style/sidebar.css";
@import "./style/login.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #261A65;
  color: #f0f0f0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container{
  background-color: #1C1450;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {

  .login-container{ width: 80%;}
  .open-menu, .close-menu{ display: block;}
  .sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: 0.3s;
    overflow-y: scroll;
  }

  .profile-notif-message-small{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
  .profile-notif-message{ display: none;}

  .search{
    width: 100%;
  }
  .search-input{ 
    display: none;
    transition: 0.4s;
  }

  .show{display: block;}

  .content{
    width: 100vw;
    padding: 0.5rem 1rem;
  }
  .dashboard{
    display: flex;
    flex-direction: column;
  }
  .card-lists{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem 0;
  }

  .card-container{
    white-space: pre-wrap;
  }

  .balance-header, .funds-header{
    flex-direction: column;
    align-items: flex-start;
  }

  .title{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btn{
    margin: 1rem 0;
    width: 100%;
  }

  .balance-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
